name: Build and Push Docker image

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ib28071969
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: docker build -t ib28071969/devops-site:latest .

      - name: Push
        run: docker push ib28071969/devops-site:latest
